/* Coolors Exported Palette - https://coolors.co/49416d-a882dd-e08d79-e0efde-b3f2dd */

/* CSS HEX */
--cyber-grape: #49416dff;
--lavender-floral: #a882ddff;
--middle-red: #e08d79ff;
--honeydew: #e0efdeff;
--magic-mint: #b3f2ddff;

/* CSS HSL */
--cyber-grape: hsla(251, 25%, 34%, 1);
--lavender-floral: hsla(265, 57%, 69%, 1);
--middle-red: hsla(12, 62%, 68%, 1);
--honeydew: hsla(113, 35%, 90%, 1);
--magic-mint: hsla(160, 71%, 83%, 1);

/* SCSS HEX */
$cyber-grape: #49416dff;
$lavender-floral: #a882ddff;
$middle-red: #e08d79ff;
$honeydew: #e0efdeff;
$magic-mint: #b3f2ddff;

/* SCSS HSL */
$cyber-grape: hsla(251, 25%, 34%, 1);
$lavender-floral: hsla(265, 57%, 69%, 1);
$middle-red: hsla(12, 62%, 68%, 1);
$honeydew: hsla(113, 35%, 90%, 1);
$magic-mint: hsla(160, 71%, 83%, 1);

/* SCSS RGB */
$cyber-grape: rgba(73, 65, 109, 1);
$lavender-floral: rgba(168, 130, 221, 1);
$middle-red: rgba(224, 141, 121, 1);
$honeydew: rgba(224, 239, 222, 1);
$magic-mint: rgba(179, 242, 221, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #49416dff, #a882ddff, #e08d79ff, #e0efdeff, #b3f2ddff);
$gradient-right: linear-gradient(90deg, #49416dff, #a882ddff, #e08d79ff, #e0efdeff, #b3f2ddff);
$gradient-bottom: linear-gradient(180deg, #49416dff, #a882ddff, #e08d79ff, #e0efdeff, #b3f2ddff);
$gradient-left: linear-gradient(270deg, #49416dff, #a882ddff, #e08d79ff, #e0efdeff, #b3f2ddff);
$gradient-top-right: linear-gradient(45deg, #49416dff, #a882ddff, #e08d79ff, #e0efdeff, #b3f2ddff);
$gradient-bottom-right: linear-gradient(135deg, #49416dff, #a882ddff, #e08d79ff, #e0efdeff, #b3f2ddff);
$gradient-top-left: linear-gradient(225deg, #49416dff, #a882ddff, #e08d79ff, #e0efdeff, #b3f2ddff);
$gradient-bottom-left: linear-gradient(315deg, #49416dff, #a882ddff, #e08d79ff, #e0efdeff, #b3f2ddff);
$gradient-radial: radial-gradient(#49416dff, #a882ddff, #e08d79ff, #e0efdeff, #b3f2ddff);