{% extends 'basic.html' %}

{% block title %} Company Login {% endblock %}
{% block company_login %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% load static %}
<section class="vh100">
    <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 text-black">
              <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">     
                
                <form method="POST"> 
                    {% csrf_token %}
                    <div class="container mt-5">
                        <h2>Company Login</h2>
                        <br>       
                        <div class="mb-3">
                            <label for="username" class="form-label"><span style="font-weight: bold;">Username</span></label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label"><span style="font-weight: bold;">Password</span></label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
                        </div>
                        <br>
                        <input type="submit" value="Submit" class="btn" style="background-color: #49416dff; color: white; font-size: larger; width: 100%;">
                        <br>
                        <br>
                        <br>
                        <h6 style="text-align: center;">Don't have an account? <a href="/company_signup/" type="submit" style="color:#49416dff; text-decoration: none;">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="{% static 'company.jpg' %}" alt="Login image" class = "img-fluid" >
        </div>
      </div>
      
    </div>
</section>
{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Invalid Credentials. Please try again.");
    window.location.href = "/company_login"
    {% endif %}
</script>
{% endblock %}
