{% extends 'basic.html' %}

{% block title %} Job Portal {% endblock %}
{% block home %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% load static %}   
<div class="container-fluid mt-2">
    <div class="container-fluid">
        <h2><center>Find Your <span style ="color:#e08d79ff"> Dream Job</span> with us!</center></h2>
        <img src="{% static 'jobs.jpg' %}"  class="img-fluid" >
    </div>
    
</div>

</div>
    <div class="container-fluid mt-2" style="background-color: #49416dff; width: 100%;">
                 <footer class="text-center">
                  <br>
                  <h3 style="color: #e0efdeff;"><strong>Contact Us</strong></h3>
                  <li style="display: inline-block;"><a href="#" class="nav-link px-2 " style="color: #e0efdeff;">Home</a></li>
                  <li style="display: inline-block;"><a href="mailto: sigmoidfunction@yahoo.com" class="nav-link px-2 " style="color: #e0efdeff;">Email: <strong>sigmoidfunction@yahoo.com</strong></a></li>
                  <li style="display: inline-block;"><a href="#" class="nav-link px-2 " style="color: #e0efdeff;">Ring: <strong>+91-9999999999</strong></a></li>
                  <!-- <li style="display: inline-block;"><a href="#" class="nav-link px-2 " style="color: #e0efdeff;">FAQs</a></li> -->
                  <li style="display: inline-block;"><a href="/about/" class="nav-link px-2 " style="color: #e0efdeff;">About</a></li>
                  <hr style="color: #e0efdeff;">
                  <p class="text-center" style="color: #e0efdeff;">© 2022 JobPortal Company, Inc</p>
                  <br>
                  <br>
              </footer>
    </div>        
{% endblock %}
